.hero {
    background-position: top;
    height: 300px;
    text-align: center;
    margin-bottom: 40px;
}

body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



article {
    width: 88%;
    margin: 0 auto 40px auto;
    border: 3px solid var(--primary-color);
    display: flex;
   
    flex-direction: column;
}
article h2 {
    color: var(--primary-color);
    font-size:  4vw;
    padding-top: 20px;
}

article address {
    font-style: normal;
    color: rgb(130, 0, 0);
}

article address a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}



article h3 {
    color: rgb(2, 2, 98);
    text-decoration: underline;
    font-weight: bold;
}

article p {
    text-align: left;
    margin: 40px 150px;
    font-size: 1.55vw;
}

article ul {
    
    columns: 2;
    
    text-align: left;
    margin: 0 auto;
    
    padding: 3em;
}

article ul li {
    font-size: 1.55vw;
    margin: 0 auto;
    width: 70%;
  
}

.work, .ed, .skills {
    
    border-top: 3px dotted var(--primary-color);
    
    
}

.skills, .interests {
    display: flex;
    flex-direction: column;
    width: 100%;
}





@media screen and (max-width: 1100px){
    article p { 
        font-size: 3vw;
        margin-left: 30px;
        margin-right: 30px;
    }

    article address {
        font-size: 3vw;
    }

    article ul {
        margin-left: 80px;
        margin-right: 40px;
    }

    article ul li {
        font-size: 3vw;
        
    }

    article h3, h4, h5 {
        font-size: 3vw;
    }
}