/*Removes Browser default margins and padding*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0f2a5e;
    --secondary-color: #a3aac9;
    --tertiary-color:  rgb(234, 238, 255);
}
/*General styles*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--tertiary-color);
}


/*Header styles*/

header {
    padding: 10px 50px 10px  0;
    background-color:  var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1{
    background-color: var(--secondary-color);
    padding-left: 50px;
    padding-right: 10px;
    font-size: 36px;
    font-weight: bold;    
}

header h1:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 50%);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header a:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 50%);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

header nav ul li {
    margin: 5px;
    border-bottom: 2px solid var(--primary-color);
}

header nav ul li:hover {
    border-bottom: 2px solid var(--secondary-color);
}

header nav ul li a {
    padding: 10px 10px;
    color: var(--secondary-color);
    font-size: 24px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 50%);
}



/*Hero styles*/

.hero {
    background-image: url("../images/mountains-cover.jpg");
    background-size: cover;
    background-position: center;
    height: 110vh;
    padding: 20px 50px;
    
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
    width: 100%;   
}

.hero h2 {
    color: var(--secondary-color);
    background: rgba(15, 42, 94, 70%);
    padding: 25px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 50%);
    
}

/*Section Containment ;)*/
.align-all {
   max-width: 88%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 30px;
}

.content {
    /* margin: 0 50px 30px 30px; */
    padding-top: 55px;    
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    
    
}

.title-box {
    text-align: right;
    /* margin-left: 70px; */
    border-right: 3px solid var(--primary-color);
    margin-right: 35px;
    flex: 1 0 15%;
    max-height: 100%;
    min-width: 20%;
}

.title-box h2 {
    font-size: 4vw;
    color: var(--primary-color);
    padding-right: 18px;
    
}



/*About styles*/
.img-box {
    flex: 1 25%;
    margin-right: 20px;
    padding-top: 10px;
}

.img-box img {
    max-width: 30vw;
    min-width: 30vw;
   
}

.bio-box {
    flex: 1 60%;
    padding: 5px 30px 0 10px;
}

.bio-box p {
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 15px;
    line-height: 1.3;
    
}


/*Work styles*/



.grid-box {
    flex: 1 85%;
    height: 600px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
} 

.work-container {
    display: grid;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr) minmax(150px);
    grid-gap: 20px;  
}

.work-container a {
    text-decoration: none;
}

.grid-item {
    display: flex;
    border: 10px solid var(--secondary-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 50%);
    align-items: flex-end;
    background-blend-mode: soft-light;
    transition: all 0.5s;
    text-decoration: none;
}

.grid-item:hover {
    background-color:  rgba(142, 187, 253, 0.3);
}


.grid-label {
    background-color: var(--secondary-color);
    width: 100%;
    color: var(--primary-color);    
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;
}

.grid-label h2 {
    font-size: 1.2em;
}


.grid-item.item-1{
    background-image: url("../images/off-the-beaten-path.jpg");
    background-size: cover;
    width: 100%;
    
    grid-column: 1/span 2;
    grid-row: 1/span 2;
}

.grid-item.item-2, .grid-item.item-3, .grid-item.item-4, .grid-item.item-5 {
    background-size: cover;
   
    width: 100%;
}

.grid-item.item-2 {
    background-image: url("../images/weather-dashboard.png");
}
.grid-item.item-3 {
    background-image: url("../images/run-buddy-pic.jpg");
} 
.grid-item.item-4 {
    background-image: url("../images/roster-gen-pic.png");
} 
.grid-item.item-5 {
    background-image: url("../images/slp-reach.png");
}



/*Contact styles*/
.contact-box {
    flex: 1 85%;
    
}


.contact-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 45px;
    
}
.contact-links a {
    margin: 5px;
    
    border-bottom: 2px solid var(--tertiary-color);
    padding: 10px 10px;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 24px;
    display: inline-block;
    background-color: var(--tertiary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 50%);
    border-radius: 10px;
    
}



.contact-box a:hover {
    border-bottom: 2px solid var(--primary-color);
}

@keyframes color-shift {
    from {
        color: var(--primary-color);
    }
    
    50% {
        color: var(--tertiary-color);
    }

    to {
        color: var(--primary-color);
    }
  }

.coming-soon {
    font-size: 10vw;
    transform: rotate(-20deg);
    color:  var(--primary-color);
    padding-top: 150px;
    padding-left: 100px;
    animation: color-shift 1s infinite;
    text-shadow: 0 0 40px rgba(14, 6, 253, 0.5);
}

/*Media Queries*/
/*This fixed a ahem positioning issue with my cool subtitle ;)*/
@media screen and (max-width: 1200px){
    .hero {
        justify-content: flex-start;
        align-content: flex-start;
    }
}

/*Screen sizes smaller than 1024px*/
@media screen and (max-width: 1024px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 50vw;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }
    
    .content {
        flex-direction: column;
        align-items: center;
        border-bottom: 3px solid var(--primary-color);
    }

    .title-box {
        border-bottom: 3px solid var(--primary-color);
        border-right: none;
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .title-box h2 {
        padding: 0;
        padding-bottom: 10px;
        margin: 0;
    }

    .grid-box {
        height: 100vh;
    }

    .work-container {
        grid-template-columns: 80vw;
        grid-template-rows: repeat(5, 1fr);
    }

    .grid-item.item-1 {
        grid-column: 1/span 1;
        grid-row: 1/span 1;
    }
}

/*Screen sizes smaller than 575px*/
@media screen and (max-width: 768px) {
    .grid-label {
       visibility: hidden;
    }
}    
/*Screen sizes smaller than 575px*/
@media screen and (max-width: 575px) {
    
    header {
        padding: 0;
    }

    header h1 {
        color: var(--secondary-color);
        font-size: 30px;
        padding: 0;
    }    
    .hero h2 {
        font-size: 5vw;
        text-align: left;
        padding: 5px;
    }
    
    .align-all {
        max-width: 95%;
    }
       
    .title-box h2 {
        font-size: 10vw;
    }

    .img-box img {
        min-height: 180px;
        min-width: 180px;  
    }

    .bio-box p {
        font-size: 5vw;
    }

    .grid-item h2 {
        font-size: 4vw;
        font-weight: bolder;
    }

    .grid-item p {
        font-size: 3vw;
    }
}
